
.segmented-control { 
 	text-align:center;
}

.segmented-control .ui-controlgroup { 
	margin: 0.2em; 
} 

.ui-control-active, .ui-control-inactive {
	border-style: solid; border-color: gray; 
}

.ui-control-active { 
	background: #BBB;
} 

.ui-control-inactive { 
	background: #DDD; 
} 



#map-area{
	padding-bottom: 0;
	margin-bottom: 0;
	
	/*background: #000000;
	padding: 0;
    position : absolute; 
    top : 50px;  
    right : 0; 
    bottom : 50px;  
    left : 0;*/
}

#map_canvas {
    width: 100%;
    float: left;
    margin-bottom: 2%;
}

.GMap{
	position:relative;
	width:100%;
	height:500px;
	background: #DDDDDD;
}


._GMap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #DDDDDD;
}
}


/*body > div {
	width: 200px;
	margin: 50px auto;
	text-align: center;
}*/

ul {
	padding: 0;
	margin:0;
	list-style: none;
}

ul li{
	padding: 0;
	margin:0;
	list-style: none;
}


.container {
	width: 200px;
	height: 220px;
	text-align: left;
	margin: 0px auto;
	padding:0;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin-y: -25%;
	/*background: #000000;*/
}

.carousel {	
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-300px);
	padding: 0;
	margin: 0px auto;
	
	/*position: relative;
	margin: 0;
	width: 200px;
	height: 300px;*/
	-webkit-transition: .5s;
}
.carousel img {
	position: absolute;
	border: 5px solid rgba(0, 0, 0, .8);
	opacity: 1;
	-webkit-transition: .5s;
	opacity: 1;
}
		


.enfocada{
	/*background-color: #000000;*/
}

.AAA{
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-300px);
	
	-webkit-perspective: 2000px;
	-webkit-perspective-origin-y: 25%;
}


#INI img{
	border: 5px solid rgba(0, 0, 0, .8);
	opacity: 1;
	-webkit-transform: translateZ(300px) translateX(25px) translateY(-20px) scale(.7);
	
}
#BACK img{
	border: 5px solid rgba(0, 0, 0, .8);
	opacity: .5;	
	-webkit-transform: translateZ(-300px) translateX(100px) translateY(-220px) rotateY(-45deg) scale(1);
}


@media (min-width: 35em){
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
		margin-right: 17em;
	}
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin: 0 0 0 17em;
	}
	.ui-responsive-panel .ui-panel-dismiss-display-push {
		display: none;
	}
}

.cPanel{
	background: #AAEDBA;
}

.pPanel{
	background: #DEDEDE;
}


/*   */
.tuSed{
	/*background: #005599;*/
}


.mapData {
	width: 86%;
	/*height: 120px;*/
	/*border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
	font-family: "Changa One", sans-serif;
	
	background-color: #FFFFFF;
	margin:0;
	margin-top: .25%;
	margin-left: 0%;
	padding: 1% 7%;
	margin-bottom: 0%;
	color: #339618;
	text-shadow: 0px 0px #000000;
}
.mapData h3{
	margin-top:15px;
	margin-bottom:10px;
	font-size:24px;
	font-family: 'Paytone One', sans-serif;
}
.mapData h2{
	margin-bottom: 10px;
}
.mapData .L2, .mapData .L1 {
	font-family: 'Ropa Sans', sans-serif;
	color: #339618;
	font-size: 100%;
	margin: 0;
	margin-bottom:5px;
	text-shadow: 0px 0px #000000;
}

.mapData .L3 {
	font-family: 'Ropa Sans', sans-serif;
	font-style: italic;
	color: #999;
	font-size: 85%;
	margin:0;
	margin-bottom:20px;
	text-shadow: 0px 0px #000000;
}




.popUpListBox{
	display: inline-block;
	margin: 0;
	padding: 0;
	
}
.enableItem{
	color:#157E23;
	text-shadow: 1px 1px #C9C9C9;
}
.unableItem{
	color:#D8100E;
	text-shadow: 1px 1px #C9C9C9;
}



.logo{
	/*background: #42AC2F;*/
	background-size: contain;
	/*width: 160px;
	height: 160px;*/
	display: block;
	margin: auto;
}

.center{
	text-align: center;
}




/*DASH PAGE --------------------------------------*/

.ui-page-dash{
    background:none;
    background: url("../img/d_bg.png") !important;
    background-size: 100% 100% !important;
    
}
.ui-overlay-dash{
    /*background:#00A062 !important;*/
     background: url("../img/d_bg.png") !important;
     background-size: 100% 100% !important;
}



#pag-AJU p{
	color: #C1C1C1;
}

#pag-REC p{
	color: #C1C1C1;
}



/*ICONS --------------------------------------*/

.ui-icon-money:after {
	background-image: url("icons/money.svg");
}
/* Fallback */
.ui-nosvg .ui-icon-money:after {
	background-image: url("/icons/money.png");
}


.ui-icon-terminal:after {
	background-image: url("icons/terminal.svg");
}
/* Fallback */
.ui-nosvg .ui-icon-terminal:after {
	background-image: url("/icons/terminal.png");
}


.ui-icon-ticket:after {
	background-image: url("icons/ticket.svg");
}
/* Fallback */
.ui-nosvg .ui-icon-ticket:after {
	background-image: url("/icons/ticket.png");
}


.ui-icon-truck:after {
	background-image: url("icons/truck.svg");
}
/* Fallback */
.ui-nosvg .ui-icon-truck:after {
	background-image: url("/icons/truck.png");
}

/* ------------------------------------------ */




.falla{
	background: #FF874F !important;
	text-shadow: 1px 1px #E06969 !important;
}

.queja{
	background: #EBE834 !important;
}





/*LOGIN PAGE --------------------------------------*/

.ui-page-login{
    background:none;
    background: url("../img/bg.jpg") !important;
    background-size: 100% 100% !important;
    
}
.ui-overlay-login{
    background:#00A062 !important;
     /*background: url("../img/bg.jpg") !important;*/
     background-size: 100% 100% !important;
}

/* Button down */
.ui-body-login,
.ui-page-theme-login .ui-body-inherit,
html .ui-bar-login .ui-body-inherit,
html .ui-body-login .ui-body-inherit,
html body .ui-group-theme-login .ui-body-inherit,
html .ui-panel-page-container-login {
	background-color: #FFFFFF /*{e-body-background-color}*/;
	border-color: #dddddd /*{e-body-border}*/;
	color: #333333 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ #f3f3f3 /*{e-body-shadow-color}*/;
}

/* Button */
.ui-page-theme-login .ui-btn,
html .ui-bar-login .ui-btn,
html .ui-body-login .ui-btn,
html body .ui-group-theme-login .ui-btn,
html head + body .ui-btn.ui-btn-login{
	background-color: #f8a545 /*{d-bhover-background-color}*/;
	border-color: #ba6a0d /*{d-bhover-border}*/;
	color: #ffffff /*{d-bhover-color}*/;
	text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 0 /*{d-bhover-shadow-radius}*/ #0c6006 /*{d-bhover-shadow-color}*/;
}

/* Button down */
.ui-page-theme-login .ui-btn:active,
html .ui-bar-login .ui-btn:active,
html .ui-body-login .ui-btn:active,
html body .ui-group-theme-login .ui-btn:active,
html head + body .ui-btn.ui-btn-login:active {
	background-color: #ed8002 /*{d-bdown-background-color}*/;
	border-color: #b65816 /*{d-bdown-border}*/;
	color: #ffffff /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 0 /*{d-bdown-shadow-radius}*/ #2a621e /*{d-bdown-shadow-color}*/;
}

/* Links */
.ui-page-theme-login a,
html .ui-bar-login a,
html .ui-body-login a,
html body .ui-group-theme-login a {
	color: #FFFFFF /*{a-link-color}*/;
	font-weight: bold;
}





.listComment{
	margin: 0 !important;
	padding: 0 !important;
	margin-top: 100px !important;
}

#comments{
	padding: 0 !important;
}


.elmntComment{
	margin: 0 !important;
	padding: 0 !important;
}

.comment{	
	white-space:normal !important;
}

.divComment{
	margin: 0 !important;
}

.divComment h2{
	font-size: 22px;
	color: #FFFFFF;
	
} 

.divComment h4{
	font-size: 12px;
	color: #FFCC00;
}
.divComment p{
	font-size: 12px;
}

.divComment img {
    width:auto;
    max-width:100%;
    height:auto;
}






.lBox{
	/*position:fixed;
	width: 800px;
	height: 800px;
	background: #C1C1C1;*/
	
	position:fixed; /* keeps the lightbox window in the current viewport */
	position: absolute;
	z-index: 500000;
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:url(overlay.png) repeat; 
    text-align:center;
    
    background: rgba(0,0,0,.7);
}





/* Set 2-column grid to 25/75% */ 



/*ICONS --------------------------------------*/

.ui-icon-clipboard:after {
	background-image: url("../img/icons/Clipboard.svg");
}
/* Fallback */
.ui-nosvg .ui-icon-clipboard:after {
	background-image: url("../img/icons/Clipboard.png");
}


/* ------------------------------------------ */





















